.main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-size: 20px;
}
.control {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px 0;
}
.person-info {
    padding: 10px 0;
}
.person-info input {
    width: 200px;
    height: 20px;
}
.prof-info {
    padding: 10px 0;
}
.prof-info input,
select {
    width: 200px;
    height: 20px;
}
.other-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.other-info span {
    padding: 0 5px;
}
.btn-save {
    width: 100px;
    height: 40px;
}
.btn-del {
    /* background: #fff; */
    /* border: 2px #f9c941 solid; */
}
table {
    border: 1px solid #000;
}
th{
    border: 1px solid #000;
}
td{
    border: 1px solid #000;
}